#grid {
    display: grid;
    grid-template-columns: 30px repeat(7, 1fr);
    grid-template-rows: 30px 30px;
    /* gap: 5px; */
}
#harfDisplay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.fixed {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid black;
}

#stage {
    display: grid;
    /* grid-template-columns: 30px 1fr; */
    /* grid-template-rows: repeat(2, 1fr); */
    /* gap:5px; */
}


#split-stage {
    display: grid;
    grid-template-columns: 30px 1fr;
    /* grid-template-rows: repeat(2, 1fr); */
    /* gap:5px; */
}

.grid-cell {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}


/* カーソルを合わせた時に代わる色 */
.grid-cell:hover {
    color:red;
}
a.task {
    color: inherit; /* リンクの色を親要素と同じに設定 */
}

a.task:hover {
    color: inherit; /* マウスオーバー時の色も親要素と同じに設定 */
}